/* заголовок для cover-карточек */

.title_size_cover {
  font-size: 72px;
  line-height: 1.6;
}

@media screen and (max-width: 767px) {
  .title_size_cover {
    font-size: 32px;
    line-height: 1.09;
  }
}
