/*заголовок первого уровня, один на страницу*/

.title_size_main {
  font-size: 96px;
  line-height: 1.05;
}

@media screen and (max-width: 767px) {
  .title_size_main {
    font-size: 40px;
    line-height: 1.1;
  }
}
