/* Grid */

.grid {
  display: grid;
  align-items: start;
  justify-content: stretch;
  grid-template-rows: min-content 1fr min-content;
  grid-template-areas:
    "header"
    "main"
    "footer";
}
